﻿@model IEnumerable<WebApplication1.Models.Student>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <h3>Students</h3>

    <table class="table table-striped" style="width: 100%;">
        <tr>
            <th>Student</th>
            <th>Birthday</th>
            <th>Enterance date</th>
            <th>Faculty</th>
            <th>Index group</th>
            <th>Specialization</th>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@($"{s.GetPassport().Surname} {s.GetPassport().Name} {s.GetPassport().MiddleName}")</td>
                <td>@($"{s.GetPassport().Dob.ToShortDateString()}")</td>
                <td>@($"{s.GetPassport().ReceiptDate.ToShortDateString()}")</td>
                <td>@($"{s.GetUniversityGroup().GetFaculty()}")</td>
                <td>@($"{s.GetUniversityGroup().GetIndex()}")</td>
                <td>@($"{s.GetUniversityGroup().GetSpeciality()}")</td>
            </tr>
        }
    </table>